<h6>
  <%= link_to 'Prompts', prompts_path %>
  <%= raw('&rsaquo;') %>
  <% if @prompt.present? && @prompt.persisted? %>
    <%= link_to @prompt.name, @prompt %>
    <%= raw('&rsaquo;') %>
    <%= link_to 'Edit', edit_prompt_path(@prompt) %>
    |
    <%= link_to 'Chats', prompt_chats_path(@prompt) %>
    |
    <%= link_to 'Destroy', @prompt, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
  <% else %>
    <%= link_to 'New Prompt', new_prompt_path %>
  <% end %>
</h6>