<div id="<%= dom_id prompt %>">
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td><%= prompt.name %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= prompt.description %></td>
      </tr>
      <tr>
        <th scope="row">Metadata</th>
        <td><%= prompt.metadata %></td>
      </tr>
      <tr>
        <th scope="row">Created at</th>
        <td><%= prompt.created_at %></td>
      </tr>
      <tr>
        <th scope="row">Updated at</th>
        <td><%= prompt.updated_at %></td>
      </tr>
      <tr>
        <th scope="row">Model Specifications</th>
        <td>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Model</th>
                <th scope="col">Tokens</th>
                <th scope="col">Temperature</th>
                <th scope="col">Voice</th>
              </tr>
            </thead>
            </tbody>
              <tr>
                <td><%= prompt.model %></td>
                <td><%= prompt.max_tokens %></td>
                <td><%= prompt.temperature %></td>
                <td><%= prompt.voice %></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <th scope="col">Interstitial</th>
        <td><%= prompt.interstitial_prompt %></td>
      </tr>
      <tr>
        <th scope="row">Messages</th>
        <td>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width:15%; min-width:7rem;">Role</th>
                <th scope="col">Content</th>
              </tr>
            </thead>
            <tbody>
              <% prompt.messages.order(created_at: :asc).each do |message| %>
                <tr>
                  <td><%= message.role %></td>
                  <td><%= message.content %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>