<%= render 'prompts/breadcrumbs' %>

<h1>Prompts</h1>

<table class="table" id="prompts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Model</th>
      <th>Voice</th>
    </tr>
  </thead>
  <tbody>
    <% @prompts.each do |prompt| %>
      <tr id="<%= dom_id prompt %>">
        <td><%= link_to prompt.name, prompt %></td>
        <td><%= prompt.description %></td>
        <td><%= prompt.model %></td>
        <td><%= prompt.voice %></td>
      </tr>
    <% end %>
  </tbody>
</table>